.point_1{
    width: 25%;
    height:60% ;
    background: #90ee90;
    border:solid 3px;
    border-radius: 10%;
    margin: 50px;

}
.resize{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    
}
.resize_1{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px,5px,5px, red;
    font-family: 'Pacifico', cursive;
    
}
body{
    background: black;
}
.glow{
    font-size: 60px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow{
    from{
        text-shadow:0 0 10px #fff,0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to{
        text-shadow:0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6 ;
    }
}
.conclusion{
    font-size: 15px;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}
.conclusion_1{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}